[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-lint = "*"
docker = "*"
molecule = "*"
molecule-docker = "*"
yamllint = "*"

[packages]
ansible = "< 4.0.0"
ansible-base = ">= 2.10, < 2.11"

[requires]
python_version = "3"

