# This file is managed by Ansbile.

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

Protocol 2

Port {{ ssh_server_port }}
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none
Ciphers {{ ssh_server_ciphers | join(',') }}
MACs {{ ssh_server_macs | join(',') }}
KexAlgorithms {{ ssh_server_kexalgorithms | join(',') }}

# Logging
#SyslogFacility AUTH
LogLevel {{ ssh_server_loglevel | upper }}

# Authentication
LoginGraceTime {{ ssh_server_logingracetime }}
{% if ssh_server_permitrootlogin is boolean %}
PermitRootLogin {{ ssh_server_permitrootlogin | ternary("yes", "no") }}
{% else %}
PermitRootLogin {{ ssh_server_permitrootlogin }}
{% endif %}
# Change to yes if you don't trust ~/.ssh/known_hosts for
#StrictModes yes
MaxAuthTries {{ ssh_server_maxauthtries }}
MaxSessions {{ ssh_server_maxsessions }}

#PubkeyAuthentication yes

# Expect .ssh/authorized_keys2 to be disregarded by default in future.
#AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys2

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
HostbasedAuthentication {{ ssh_server_hostbasedauthentication | ternary("yes", "no") }}
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ ssh_server_ignorerhosts | ternary("yes", "no") }}

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication no
PermitEmptyPasswords {{ ssh_server_permitemptypasswords | ternary("yes", "no") }}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ ssh_server_usepam | ternary("yes", "no") }}

#AllowAgentForwarding yes
AllowTcpForwarding {{ ssh_server_allowtcpforwarding | ternary("yes", "no") }}
#GatewayPorts no
X11Forwarding {{ ssh_server_x11forwarding | ternary("yes", "no") }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd no
#PrintLastLog yes
#TCPKeepAlive yes
PermitUserEnvironment {{ ssh_server_permituserenvironment | ternary("yes", "no") }}
#Compression delayed
ClientAliveInterval {{ ssh_server_clientaliveinterval }}
ClientAliveCountMax {{ ssh_server_clientalivecountmax }}
#UseDNS no
#PidFile /var/run/sshd.pid
MaxStartups {{ ssh_server_maxstartups }}
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

Banner {{ ssh_server_banner }}

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
#   ClientAliveInterval 120

{% if ssh_server_denyusers %}
DenyUsers {{ ssh_server_denyusers | join(' ') }}
{% endif %}
{% if ssh_server_allowusers %}
AllowUsers {{ ssh_server_allowusers | join(' ') }}
{% endif %}
{% if ssh_server_denygroups %}
DenyGroups {{ ssh_server_denygroups | join(' ') }}
{% endif %}
{% if ssh_server_allowgroups %}
AllowGroups {{ ssh_server_allowgroups | join(' ') }}
{% endif %}
